.stages
  display: flex
  
  &__stage
    fill: gray
    stroke: gray
   
    &_completed
      fill: red
      stroke: red
      
  &__step
     fill: black
     font-weight: bold
    
  &__stage_completed + &__step
      fill: white
      
