mixin stages({ range = 1, count = 2})
    .stages
        .stages__progress
            -for(var i = 0; i < count; i++)
                -
                    var isActive = (i == range)
                        ? "stages__stage_active"
                        : '';
                .stages__stage(class=isActive)
