mixin button({ color = '', isBig = false, isDisabled = false, text = '' })
    -
        var text= !text ? 'text not found' : text;
        var size = isBig ? 'big' : 'small';
        var classSize = size ? `button_${size}` : '';
        var classColorScheme = color ? `button_${color}` : '';

    if isDisabled
        button.button_disabled(class=`${classSize} ${classColorScheme}`, disabled)=text
    else            
        button.button.ripple(class=`${classSize} ${classColorScheme}`)=text
