button_enabled(bgColor, color, borderColor)
    background-color: bgColor
    color: color
    border-bottom: 5px solid borderColor
    
button_disabled(bgColor, color, borderColor)
    background-color: bgColor
    color: color
    border-color: borderColor
