.button
    border: none
    text-align: center
    text-decoration: none
    display: inline-block
    cursor: pointer
    border-radius: 5px
    text-transform: uppercase
    font-weight: bold
    
    &_small
        width: 6rem
        height: 2rem
        
    &_big
        width: 8rem
        height: 2.5rem

.button_disabled
    border-radius: 5px
    border-style: solid
    cursor: not-allowed
    background-color: white
    border-top-width: 2px
    border-right-width: 1px 
    border-left-width: 1px
    border-bottom-width: 5px

.ripple
    background-position: center
    transition: background 0.8s
