mixin percentage-progress-bar({ percent = 0, maxPercent = 100 })
    mixin draw-angle({ angle1 = '180', angle2 = '0', value })
        .pie
            .clip1
                .slice1(style=`transform: rotate(${angle1}deg)`)
            .clip2
                .slice2(style=`transform: rotate(${angle2}deg)`)
            .status=`${value}`

    //- calculate the angle
    - var drawAngle = percent / maxPercent * 360;

    //- calculate the angle to be displayed if each half
    if drawAngle <= 180
        - var firstHalfAngle = drawAngle;
    else
        - var firstHalfAngle = 180;
        - var secondHalfAngle = drawAngle - firstHalfAngle;

    //- set the transition
    +draw-angle({
        angle1: firstHalfAngle,
        angle2: secondHalfAngle,
        value: percent
    })
