@import "../../global/colors.styl";

.textarea
    width: 300px
    border-radius: 5px
    border: 1px solid transparent
    background-color: $colorLightenGray
    padding: 10px 10px

    &:focus
        border: 1px solid $colorLightenGreenishBlue
