$colorBlack = #4f4f4f
$colorWhite = #fff
$colorGreenishBlue = #4eb7a8
$colorLightenGreenishBlue = #9AE0D6
$colorDarkenGreenishBlue = #28a290
$colorOrange = #e75735
$colorLightenOrange = #F19179
$colorDarkenOrange = #d54c2c
$colorLightenGray = #e5e5e5
$colorGray = #8e8d8d
$colorDarkGray = #747474
