.demo-components
    display: flex
    justify-content: space-between
    flex-direction: column
    width: 90%
    margin: 0 auto
    padding: 4.75rem 3% 4.75rem 3%
    
    &__title
        text-align: center
