include ../title/title.pug
include ../button_orange/button_orange.pug
include ../button_greenish-blue/button_greenish-blue.pug
include ../arrow-button/arrow-button.pug
include ../percentage-progress-bar/percentage-progress-bar.pug
include ../pie-chart/pie-chart.pug
include ../slider/slider.pug
include ../stages/stages.pug
include ../feedback-form/feedback-form.pug
include ../toggle/toggle.pug
include ../tick-box/tick-box.pug

mixin demo-components()
    .demo-components
    
        .demo-components__block
            .demo-components__title
                +title("standard buttons")
            .demo-components__sample
                - var commonText = 'button';
                .demo-components__row
                    .demo-components__item
                        +button_greenish-blue({
                            text: commonText
                        })
                    .demo-components__item
                        +button_greenish-blue({
                            text: commonText,
                            isBig: true
                        })
                    .demo-components__item
                        +button_orange({
                            text: commonText,
                            isBig: true
                        })
                    .demo-components__item
                        +button_orange({
                            text: commonText
                        })
                .demo-components__row
                    .demo-components__item
                        +button_greenish-blue({
                            text: commonText,
                            isDisabled: true
                        })
                    .demo-components__item
                        +button_greenish-blue({
                            text: commonText,
                            isBig: true,
                            isDisabled: true
                        })
                    .demo-components__item
                        +button_orange({
                            text: commonText,
                            isBig: true,
                            isDisabled: true
                        })
                    .demo-components__item
                        +button_orange({
                            text: commonText,
                            isDisabled: true
                        })

        .demo-components__block
            .demo-components__title
                +title("arrow buttons")
            .demo-components__sample
                .demo-components__row
                    .demo-components__item
                        +arrow-button({
                            isDisabled: true
                        })
                    .demo-components__item
                        +arrow-button({
                            direction: 'right',
                            isDisabled: true
                        })
                    .demo-components__item
                        +arrow-button({})
                    .demo-components__item
                        +arrow-button({
                            direction: 'right'
                        })

        .demo-components__block
            .demo-components__title
                +title("percentages / pie chart")
            .demo-components__sample
                .demo-components__row
                    .demo-components__item
                        +percentage-progress-bar({})
                    .demo-components__item
                        +percentage-progress-bar({
                            percent: 38
                        })
                    .demo-components__item
                        +percentage-progress-bar({
                            percent: 62
                        })
                    .demo-components__item
                        +percentage-progress-bar({
                            percent: 89
                        })
                    .demo-components__item
                        -
                            var data = [
                                { percent: 0.1, color: '#4f4f4f' },
                                { percent: 0.25, color: '#e75735' },
                                { percent: 0.3, color: '#4eb7a8' },
                                { percent: 0.35, color: '#e5e5e5' } //- empty sector
                            ]
                        +pie-chart({ data: data })
                        
        .demo-components__block
            .demo-components__title
                +title("sliders")
            .demo-components__sample
                .demo-components__row
                    .demo-components__item.sliders
                        +slider({
                            value: 40
                        })
                    .demo-components__item.sliders
                        +slider({
                            value: 75,
                            step: 25,
                            hasPips: true,
                            hasFloat: false
                        })
                        
        .demo-components__block
            .demo-components__title
                +title("stages")
            .demo-components__sample
                .demo-components__row
                    .demo-components__item.steps
                        +stages({
                            range: 3,
                            count: 5
                        })
                        
        .demo-components__block
            .demo-components__title
                +title("form elements")
            .demo-components__row
                .demo-components__item
                    +feedback-form()
                .demo-components__item
                    .demo-components__sample
                        .demo-components__item
                            +title("toggles")
                            .demo-components__row
                                .demo-components__item
                                    +toggle({
                                        name: "toggle1",
                                        isChecked: false
                                    })
                                .demo-components__item
                                    +toggle({
                                        name: "toggle2"
                                    })
                        .demo-components__item
                            +title("tick boxes")
                            .demo-components__row
                                .demo-components__item
                                    +tick-box({
                                        name: "tick-box1"
                                    })
                                .demo-components__item 
                                    +tick-box({ 
                                        isChecked: false,
                                        name: "tick-box2"
                                    })
                    
