include ../title/title.pug
include ../button_orange/button_orange.pug
include ../button_greenish-blue/button_greenish-blue.pug
include ../arrow-button/arrow-button.pug

mixin demo-components()
    .demo-components
        .demo-components__block
            .demo-components__title
                +title("standard buttons")
            .demo-components__sample
                - var commonText = 'button';
                .demo-components__row
                    .demo-components__item
                        +button_greenish-blue({
                            text: commonText
                        })
                    .demo-components__item
                        +button_greenish-blue({
                            text: commonText,
                            isBig: true
                        })
                    .demo-components__item
                        +button_orange({
                            text: commonText,
                            isBig: true
                        })
                    .demo-components__item
                        +button_orange({
                            text: commonText
                        })
                .demo-components__row
                    .demo-components__item
                        +button_greenish-blue({
                            text: commonText,
                            isDisabled: true
                        })
                    .demo-components__item
                        +button_greenish-blue({
                            text: commonText,
                            isBig: true,
                            isDisabled: true
                        })
                    .demo-components__item
                        +button_orange({
                            text: commonText,
                            isBig: true,
                            isDisabled: true
                        })
                    .demo-components__item
                        +button_orange({
                            text: commonText,
                            isDisabled: true
                        })

        .demo-components__block
            .demo-components__title
                +title("arrow buttons")
            .demo-components__sample
                .demo-components__row
                    .demo-components__item
                        +arrow-button({
                            isDisabled: true
                        })
                    .demo-components__item
                        +arrow-button({
                            direction: 'right',
                            isDisabled: true
                        })
                    .demo-components__item
                        +arrow-button({})
                    .demo-components__item
                        +arrow-button({
                            direction: 'right'
                        })
