include ../title/title.pug

mixin demo-components()
    .demo-components
        .demo-components__block
            .demo-components__title
                +title("standard buttons")
            .demo-components__sample
                //- пример использования компонентов
