@import "../button/button.styl";
@import "../../global/colors.styl";

bgColor = $colorOrange
color = $colorWhite
borderColor = $colorDarkenOrange
rippleColor = $colorLightenOrange
classColor = 'orange'

button(classColor, color, bgColor, borderColor, rippleColor)
