arrow-button-direction(state = 'inactive', arrowColor)
    .arrow-button_{state}
    
        &:after
            content: ''
            position: absolute
            
            margin: 0 auto
            border: 0.2rem solid arrowColor
            width: 1rem
            height: 1rem

        &--left::before, &--left::after
            left: 1rem
            border-right: 0
            border-top: 0
            transform: translateY(-50%) translateX(35%) rotate(45deg)

        &--right::before, &--right::after
            right: 1rem
            border-left: 1rem
            border-bottom: 1rem
            transform: translateY(-50%) translateX(-35%) rotate(45deg)

arrow-button_inactive(borderColor, arrowColor, activeColor, bgColor)
    .arrow-button
            
        &_inactive
            cursor: pointer
            background-color: bgColor
            border: 0.2rem solid borderColor

            &:active
                border: 0.2rem solid activeColor
                background-color: activeColor

            &:hover
                border: 0.2rem solid activeColor
                background-color: activeColor

    arrow-button-direction('inactive', arrowColor)
    
arrow-button_disabled(borderColor, arrowColor, bgColor)
    .arrow-button
    
        &_disabled
            cursor: not-allowed
            background-color: bgColor
            border: 0.2rem solid borderColor

    arrow-button-direction('disabled', arrowColor)
