@import "../button/button.styl";
@import "../../global/colors.styl";

bgColor = $colorGreenishBlue
color = $colorWhite
borderColor = $colorDarkenGreenishBlue
rippleColor = $colorLightenGreenishBlue
classColor = 'greenish-blue'

button(classColor, color, bgColor, borderColor, rippleColor)
